*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Tus estilos para tablets van aquí */
  header img{
    height: 220px;
  }
}

    /* mobile */

@media (max-width: 767px) { 
    .logo{
        height: 12vh;
        width: 70vh;
    }
    header img{
        height: 15vh;
    }
}

header {
    color: whitesmoke;
    display: block;
    justify-content: center;
    position: relative;
}

header img{
    display: block;
    height: 20vh;
    width: 100%;
    object-fit: cover;
    object-position: center 30%;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    height: 20vh;
    width:100px;
    z-index: 2;
}

main {
    
    min-height: 100vh;
}

main img{
    display: block;
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

main section .container a{
    text-decoration: none;
}

.list-group-item{
    display: grid !important;
    grid-template-columns: 90px 1fr 90px;
    align-items: center;
}
.list-group-item span{
    text-align: center;
}

.stadium {
  max-width: 180px;       /* límite de ancho */
  white-space: nowrap;    /* evita que se corte en varias líneas */
  overflow: hidden;       /* oculta lo que exceda */
  text-overflow: ellipsis;/* agrega "..." al final */
  text-align: center;     /* mantiene centrado */
}

.stadium:hover {
  overflow: visible;      
  white-space: normal;    
  color: #fff;            
  padding: 2px 4px;       
  border-radius: 4px;     
  position: relative;
  z-index: 10;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

footer{
    background-color: #212529;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

.sponsors-bg {
    position: relative;
    min-height: 100vh;
}

.sponsors-bg > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.sponsors-bg .container {
    justify-content: left;
    position: relative;
    z-index: 1;
}

.sponsor-logo {
    filter: grayscale(100%);
    opacity: 0.8;
    transition: all 0.3s;
}

.sponsor-logo:hover {
    filter: grayscale(0%);
    opacity: 1;
}

a .card-body{
    color: whitesmoke !important;
    text-decoration: none;
}

a:hover{
    color: red;
}
a:visited{
    color: blueviolet;
}

td .text-start{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
td .text-start img {
  width: 24px;
  height: 16px;
  object-fit: cover;
}
.card a{
    color: whitesmoke !important;
    text-decoration: none;
    color: inherit;
}

.card a:visited{
    color: blueviolet !important;
}

/* BASECARD-BODY */ 
[class^="card-body-"] {
    background-size: cover;
    background-position: center;
    height: 22vh;
    position: relative;
}

[class^="card-body-"] > * {
    position: relative;
    z-index: 1;
}

[class^="card-body-"]::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.7);
}

/* IMAGENES POR PAIS */
.card-body-mexico    { background-image: url("../img/flag-icons-main/flags/4x3/mx.svg"); }
.card-body-sudafrica { background-image: url("../img/flag-icons-main/flags/4x3/za.svg"); }
.card-body-cds       { background-image: url("../img/flag-icons-main/flags/4x3/kr.svg"); }
.card-body-checa     { background-image: url("../img/flag-icons-main/flags/4x3/cz.svg"); }
.card-body-canada    { background-image: url("../img/flag-icons-main/flags/4x3/ca.svg"); }
.card-body-byh       { background-image: url("../img/flag-icons-main/flags/4x3/ba.svg"); }
.card-body-qatar     { background-image: url("../img/flag-icons-main/flags/4x3/qa.svg"); }
.card-body-suiza     { background-image: url("../img/flag-icons-main/flags/4x3/ch.svg"); }
.card-body-brasil    { background-image: url("../img/flag-icons-main/flags/4x3/br.svg"); }
.card-body-marruecos { background-image: url("../img/flag-icons-main/flags/4x3/ma.svg"); }
.card-body-escocia   { background-image: url("../img/flag-icons-main/flags/4x3/gb-sct.svg"); }
.card-body-haiti     { background-image: url("../img/flag-icons-main/flags/4x3/ht.svg"); }
.card-body-usa       { background-image: url("../img/flag-icons-main/flags/4x3/us.svg"); }
.card-body-australia { background-image: url("../img/flag-icons-main/flags/4x3/au.svg"); }
.card-body-paraguay  { background-image: url("../img/flag-icons-main/flags/4x3/py.svg"); }
.card-body-turquia   { background-image: url("../img/flag-icons-main/flags/4x3/tr.svg"); }
.card-body-alemania  { background-image: url("../img/flag-icons-main/flags/4x3/de.svg"); }
.card-body-curazao   { background-image: url("../img/flag-icons-main/flags/4x3/cw.svg"); }
.card-body-cdm       { background-image: url("../img/flag-icons-main/flags/4x3/ci.svg"); }
.card-body-ecuador   { background-image: url("../img/flag-icons-main/flags/4x3/ec.svg"); }
.card-body-holanda   { background-image: url("../img/flag-icons-main/flags/4x3/nl.svg"); }
.card-body-japon     { background-image: url("../img/flag-icons-main/flags/4x3/jp.svg"); }
.card-body-suecia    { background-image: url("../img/flag-icons-main/flags/4x3/se.svg"); }
.card-body-tunez     { background-image: url("../img/flag-icons-main/flags/4x3/tn.svg"); }
.card-body-espana    { background-image: url("../img/flag-icons-main/flags/4x3/es.svg"); }
.card-body-cabo-verde{ background-image: url("../img/flag-icons-main/flags/4x3/cv.svg"); }
.card-body-arabia    { background-image: url("../img/flag-icons-main/flags/4x3/sa.svg"); }
.card-body-uruguay   { background-image: url("../img/flag-icons-main/flags/4x3/uy.svg"); }
.card-body-francia   { background-image: url("../img/flag-icons-main/flags/4x3/fr.svg"); }
.card-body-senegal   { background-image: url("../img/flag-icons-main/flags/4x3/sn.svg"); }
.card-body-irak      { background-image: url("../img/flag-icons-main/flags/4x3/iq.svg"); }
.card-body-noruega   { background-image: url("../img/flag-icons-main/flags/4x3/no.svg"); }
.card-body-argentina { background-image: url("../img/flag-icons-main/flags/4x3/ar.svg"); }
.card-body-argelia   { background-image: url("../img/flag-icons-main/flags/4x3/dz.svg"); }
.card-body-austria   { background-image: url("../img/flag-icons-main/flags/4x3/at.svg"); }
.card-body-jordania  { background-image: url("../img/flag-icons-main/flags/4x3/jo.svg"); }
.card-body-portugal  { background-image: url("../img/flag-icons-main/flags/4x3/pt.svg"); }
.card-body-congo     { background-image: url("../img/flag-icons-main/flags/4x3/cd.svg"); }
.card-body-uzbekistan{ background-image: url("../img/flag-icons-main/flags/4x3/uz.svg"); }
.card-body-colombia  { background-image: url("../img/flag-icons-main/flags/4x3/co.svg"); }
.card-body-inglaterra{ background-image: url("../img/flag-icons-main/flags/4x3/gb-eng.svg"); }
.card-body-croacia   { background-image: url("../img/flag-icons-main/flags/4x3/hr.svg"); }
.card-body-ghana     { background-image: url("../img/flag-icons-main/flags/4x3/gh.svg"); }
.card-body-panama    { background-image: url("../img/flag-icons-main/flags/4x3/pa.svg"); }

