@media (max-width:1024px) {
  /* Ejemplo: ajustes para tablet */
  .flip-card {
    width: 90%;
    margin: 0 auto;
  }

  header img {
    height: 25vh;
  }

  .logo {
    width: 120px;
  }

  .stadium {
    max-width: 220px;
  }
}

