@media (min-width:1025px) {
  /* Ejemplo: ajustes para desktop */
  .flip-card {
    width: 70%;
    margin: 0 auto;
  }

  header img {
    height: 30vh;
  }

  .logo {
    width: 150px;
  }

  .stadium {
    max-width: 300px;
  }
}
