@media (max-width:768px) {
  .flip-back {
    display: block;
  }

  .flip-back .card-content {
    display: block;
    padding: 2px;
    text-align: center;
  }

  .flip-back h5 {
    display: none;
    font-size: 0.2rem;
    margin-bottom: 2px;
  }

  .flip-back p {
    font-size: .7rem;
    margin-bottom: 2px;
    line-height: 1.1;
  }

  .flip-card:hover {
    transform: none;
  }
}
