header {
  color: whitesmoke;
  display: block;
  justify-content: center;
  position: relative;
}

header img {
  display: block;
  height: 20vh;
  width: 100%;
  object-fit: cover;
  object-position: center 30%;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 20vh;
  width: 100px;
  z-index: 2;
}
